# Add any directories, files, or patterns you don't want to be tracked by version control
# NetBeans specific #
nbproject/private/private.xml
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class
*.classpath
*.project

# Package Files #
*.jar
*.war
*.ear